.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background-color: #f4f4f4;
  padding-top: 100px;
}

.level-row {
  display: flex;
  flex-direction: row;
  gap: 50px;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 350px;
  margin-bottom: 80px;
}

.divider {
  width: 1px;
  background-color: #000;
  margin: 0 100px;
}

.tier-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;

  margin-bottom: 80px;
  border-bottom: 1px solid #ccc;
  position: relative;
}

.tier-label {
  margin-left: 32px;
  font-size: 16px;
  font-weight: bold;
  color: #171414;
  min-width: 200px;
  font-family: 'Roboto', sans-serif;
}

.level-row {
  display: flex;
  flex-direction: row;
  gap: 50px;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 250px;
}
